@-webkit-keyframes bgslide {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -200%;
    }
}

@keyframes bgslide {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -200%;
    }
}

.firsttext {
    background-color: #199fff;
}
.raya {
    color:red;
    font-weight: bold   ;
    
}
.wpp-widget-placeholder {
    margin: 0 auto;
    width: 60px;
    height: 3px;
    background: #dd3737;
    background: -webkit-gradient(linear, left top, right top, from(#dd3737), color-stop(10%, #571313), to(#dd3737));
    background: linear-gradient(90deg, #dd3737 0%, #571313 10%, #dd3737 100%);
    background-size: 200% auto;
    border-radius: 3px;
    -webkit-animation: bgslide 1s infinite linear;
    animation: bgslide 1s infinite linear;
}

@media only screen and (max-width: 1080px) {
    .hero2 {
        display: none;
    }
}

.navbar {
    position: fixed;
    z-index: 3;
    width: 100%;
}
.description {
    color: red;
}

.description0 {
    color: rgb(255, 123, 0);
    border-color: black;
    border-style: solid;
}
.description1 {
    color: rgba(77, 45, 15, 0.884);
}

hr {
    border: 2rem solid #000000;
}

.maintextt {
    background-color: #10bd58f6;
    color: white;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.carousel-indicators li.active {
    background-color: #373A3C;
}

.carousel-indicators li {
    background-color: #373A3C31;
}

div.card:hover {
    transform: scale(1.2);
}

div.card:hover {
    z-index: 2;
}

div.card {
    transition: transform 0.2s;
    cursor: pointer;
}

.btn {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 30px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
.btn:hover {
    background-color: black;
    color: white;
}

.al-form input[type="email"] {
    padding: .5rem 1rem;
    border-radius: 3px;
    border: solid 1px #d2d2d2;
    width: 100%;
    max-width: 300px;
}

.al-form .al-input-field {
    margin-bottom: 10px;
}

.al-form .al-errorValidationText {
    color: red;
}

.al-form input[type="button"] {
    display: inline-block;
    text-decoration: none;
    padding: 1.2rem 3rem;
    color: #1b1c20;
    cursor: pointer;
    border: none;
    background: #ffec00;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
    box-shadow: 0 1px 0 0 rgb(255 255 255 / 75%) inset, 0 2px 10px 0 rgb(0 0 0 / 15%);
    border-radius: 1rem;
    overflow: hidden;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: #1b1c20;
    text-shadow: 0 1px 0 rgb(255 255 255 / 75%);
    background-color: #ffec00;
    background: linear-gradient(to bottom, #ffec00 0, #ffc600 100%);
}
.goplaythegame {
    color: rgba(241, 239, 76, 0.932)
}
.ab-journey-highlight .btn--custom img {
    max-height: 80px;
}

.ab-journey-highlight .btn--custom img:hover {
    transform: none !important;
}

@media (max-width: 767px) {
    .ab-journey-highlight .btn--custom img {
        max-height: 56px;
    }
}

.androidd {
    color: green;
}

.applee {
    color: rgb(230, 97, 21);
}

.downloadthegame {
    color: #2b2929be;
}

.install1 {
    color: #4909f8be;
}
